---
import { Button } from "@eliancodes/brutal-ui";
import Card from "../../components/original components/Card.astro";
import Layout from "../../layouts/Default.astro";
import SwiperApi from "../../components/test component/SwiperApi.astro";
---

<Layout
  title="Home"
  pageTitle="Argonaute Dgital | Home"
  description="Empowering businesses with cutting-edge software solutions."
>
  <main class="p-6">
    <section class="mb-8 grid md:grid-cols-8 gap-8 mt-4">
      <div class="col-span-2">
        <img
          src="https://new-alerts-e4f6j5kdsq-ew.a.run.app/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBKZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--56132449c17237bff62a8b5d03e5c662ee637cc2/hero.png"
          class="object-cover h-full w-full rounded-lg md:col-span-2 border-3 border-black card-shadow"
          alt="Elian Van Cutsem"
          width="392"
          height="392"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="col-span-6">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <h1 class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl">
              Unlock possibilities with our tailored <span class="text-white"
                >services</span
              >
            </h1>
            <p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl">
              Explore a world of possibilities, crafted to meet your business
              needs.
            </p>
          </div>
        </Card>
        <div class="mb-8"></div>
        <Card>
          <div class="flex justify-around">
            <img
              src="https://argonaute-digital.com/images/assets/robotlogo blue.svg"
              width="256px"
              alt="logo"
            />
            <img
              src="https://argonaute-digital.com/images/assets/robotlogo pink.svg"
              width="256px"
              alt="logo"
            />
            <img
              src="https://argonaute-digital.com/images/assets/robotlogo yellow.svg"
              width="256px"
              alt="logo"
            />
          </div>
        </Card>
        <div class="mb-8"></div>
        <Card color="white ">
          <h2
            class="text-2xl text-center md:text-3xl lg:text-4xl mb-8 dm-serif"
          >
            Let's turn your ideas into impactful solutions. Contact us now, and
            let's craft the future of your online success together
          </h2>
          <div class="flex items-center justify-center">
            <Button target={"_self"} href="/contact/">
              Get in touch &rarr;
            </Button>
          </div>
        </Card>
      </div>
    </section>
    <section class="mb-8 mb-8 grid md:grid-cols-8 gap-4 mt-8">
      <h2 class="col-span-8">We can help you with</h2>

      <div class="col-span-4">
        <Card>
          <h2 class="text-center text-white">
            API Integrations for Seamless Connectivity
          </h2>
          <div class="mb-8"></div>
          <SwiperApi />
          <div class="mb-8 p-6">
            <p class="text-center text-white mx-auto">
              At Argonaute Digital, we specialize in seamlessly connecting your
              digital ecosystem by integrating with popular APIs such as Slack,
              Coda, Mailchimp, and a host of others. Our approach to API
              integration goes beyond mere connection – it's about
              revolutionizing the way your digital tools collaborate to empower
              your business. Imagine a workplace where the tools you rely on
              daily effortlessly communicate with one another. Our tailored API
              integrations are meticulously crafted to enhance your workflow,
              introducing a new level of automation and efficiency into your
              day-to-day operations. No more manual data transfer or repetitive
              tasks; instead, experience a harmonious synergy between your
              applications that propels your productivity to unprecedented
              heights. Whether you're looking to streamline communication,
              automate data processes, or enhance collaboration across
              platforms, our API integrations are designed to cater to your
              unique needs. We ensure that your digital tools work cohesively,
              enabling you to focus on what truly matters – the growth and
              success of your business. By choosing Argonaute Digital for API
              integrations, you're not just connecting applications; you're
              laying the foundation for a more agile, responsive, and
              interconnected digital environment. Let us simplify complexity,
              enhance collaboration, and unlock the full potential of your
              digital landscape.
            </p>
          </div>
        </Card>
      </div>
      <div class="col-span-4">
        <Card>
          <h2 class="text-center text-white">
            Unlocking Digital Success through SEO Mastery and Performance
            Excellence
          </h2>
          <div class="mb-8"></div>
          <SwiperApi />
          <div class="mb-8 p-6">
            <p class="text-center text-white mx-auto">
              Unlocking Digital Success through SEO Mastery and Performance
              Excellence Embark on a transformative journey with Argonaute
              Digital, where we don't just boost your online visibility; we
              redefine your digital landscape with our dedicated SEO services.
              Picture this: your website not just ranking high but standing out,
              not just drawing traffic but captivating audiences. Our SEO
              mastery goes beyond conventional practices. It's a commitment to
              optimizing every aspect of your online presence for unparalleled
              success. Our dedicated team delves deep into understanding your
              brand, audience, and industry, ensuring that our strategies aren't
              just about rankings but about crafting an online presence that
              resonates. We fine-tune your website's performance, from loading
              times to user experience, creating a seamless digital journey for
              your visitors. Let Argonaute Digital be your guide in the dynamic
              world of digital empowerment. We simplify the intricate process of
              SEO, ensuring that every click and search leads to your digital
              triumph. Elevate your digital capabilities, secure your online
              success, and join us on a journey where your website doesn't just
              exist but thrives in the ever-evolving online world.
            </p>
          </div>
        </Card>
      </div>
      <div class="col-span-4">
        <Card>
          <h2 class="text-center text-white">
            Crafting Unforgettable Modern Web Experiences
          </h2>
          <div class="mb-8"></div>
          <SwiperApi />
          <div class="mb-8 p-6">
            <p class="text-center text-white mx-auto">
              Embark on a transformative journey as we redefine your digital
              presence through a spectrum of modern web applications. At
              Argonaute Digital, we're not just building websites; we're
              sculpting digital experiences that leave a lasting impact. Imagine
              a virtual space where your online presence isn't just functional
              but captivating. From immersive e-commerce platforms bursting with
              features to interactive dashboards that tell your story, our
              mission is to create modern web applications that go beyond
              meeting expectations – they exceed them. Our team thrives on the
              art of user-centric design, ensuring that every click, scroll, and
              interaction feels intuitive and delightful. We believe in
              elevating user experiences to set you apart in the ever-evolving
              online landscape. It's not just about having a website; it's about
              having a digital masterpiece that resonates with your audience.
              Join us in crafting experiences that transcend the ordinary. Let
              Argonaute Digital be your creative partner, helping you stay not
              just at the forefront but ahead of the curve in the dynamic online
              world. Your digital journey begins here, where innovation meets
              user-centric design for a web experience like no other.
            </p>
          </div>
        </Card>
      </div>
      <div class="col-span-4">
        <Card>
          <h2 class="text-center text-white">
            Immerse Yourself in Custom Software Excellence
          </h2>
          <div class="mb-8"></div>
          <SwiperApi />
          <div class="mb-8 p-6">
            <p class="text-center text-white mx-auto">
              Take a deep dive into the realm of custom software solutions
              designed to cater to your unique business challenges. At Argonaute
              Digital, we're passionate about creating software that goes beyond
              the ordinary. Imagine a world where your software isn't just a
              tool but a strategic partner tailored to meet your every need.
              From predicting factory stock levels and crafting dynamic price
              calculators to conducting surveys through innovative web scraping
              techniques, our focus is on precision, flexibility, and solutions
              that resonate with your specific goals. Our commitment is to
              provide you with an experience where technology seamlessly aligns
              with your business objectives. We understand that your challenges
              are unique, and that's why our software solutions are crafted to
              be as dynamic and adaptable as your business. Experience the
              difference when your software isn't just a solution but a
              responsive ally in your journey to success. With Argonaute
              Digital, your unique needs shape the software experience, making
              technology work for you in ways you never thought possible.
            </p>
          </div>
        </Card>
      </div>
    </section>
  </main>
</Layout>
