---
// src/pages/swiper.astro
import { Card, Pill } from "@eliancodes/brutal-ui";

import caroussel from "https://argonaute-digital.com/images/styles/caroussel.scss";
const clients = [
 
  {
    name: "mailchimp integration",
    url: "https://cfkairouan.com/",
    image: "https://argonaute-digital.com/images/assets/mailchimp.png",
  },
  {
    name: "notion integration",
    url: "https://www.otos-lab.fr/",
    image: "https://argonaute-digital.com/images/assets/notion.png",
  },

  {
    name: "Chat GPT integration",
    url: "#",
    image: "https://argonaute-digital.com/images/assets/OpenAI.png",
  },
  {
    name: "Slack integration",
    url: "",
    image: "https://argonaute-digital.com/images/assets/slack.png",
  }
  
];


---




<div class="slider">
	<div class="slide-track">
{clients.map((client) => (
  <div class="slide">
   
      
        <img src={client.image} alt={client.name} class="mb-8 border-4 border-black object-contain w-full  "/>
     

    
  </div>
))}
	{clients.map((client) => (
    <div class="slide ">
     
    
        <img src={client.image} alt={client.name} class="mb-8 border-4 border-black object-contain w-full "/>
     

    </div>
  ))}
		
	</div>
</div>
<style>



/* Animation Keyframes */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}

/* Styling */
.slider {

  background-color: transparent;
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.slider::before,
.slider::after {
  content: "";
  height: 300px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
  
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
 
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
  margin: 0 20px;
}

</style>